<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" data-widget="tree">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">VLINTECH</li>
      <li class="active">
        <a href="{:url('index/index')}">
          <i class="fa fa-home"></i>
          <span>系统总览</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>用户管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{:url('user/index')}"><i class="fa fa-circle-o"></i>用户列表</a></li>
          <li><a href="{:url('user/add')}"><i class="fa fa-circle-o"></i>增加用户</a></li>
          <!-- <li><a href="{:url('user/detail')}"><i class="fa fa-circle-o"></i>用户详情</a></li> -->
          <li><a href="{:url('user/record')}"><i class="fa fa-circle-o"></i>登录记录</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>社区管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{:url('developer/index')}"><i class="fa fa-circle-o"></i>开发商列表</a></li>
          <li><a href="{:url('management/index')}"><i class="fa fa-circle-o"></i>物业列表</a></li>
          <li><a href="{:url('community/index')}"><i class="fa fa-circle-o"></i>社区列表</a></li>
          <li><a href="{:url('news/index')}"><i class="fa fa-circle-o"></i>社区新闻列表</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>户型管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{:url('floorplan/index')}"><i class="fa fa-circle-o"></i>户型列表</a></li>
          <li><a href="{:url('floorplan/add')}"><i class="fa fa-circle-o"></i>添加户型</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>住房管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{:url('user/index')}"><i class="fa fa-circle-o"></i>单元列表</a></li>
          <li><a href="{:url('user/index')}"><i class="fa fa-circle-o"></i>住房列表</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>测试</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{:url('demo/index')}"><i class="fa fa-circle-o"></i>Demo</a></li>
          <li><a href="{:url('demo/socket')}"><i class="fa fa-circle-o"></i>Socket</a></li>
          <li><a href="{:url('demo/chat')}"><i class="fa fa-circle-o"></i>Chat</a></li>
        </ul>
      </li>
    </ul>
  </ul>
  </section>
  <!-- /.sidebar -->
</aside>
