<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        户型管理
        <if condition="$step eq 'add'">
          <small>增加户型</small>
        <elseif condition="$step eq 'edit'"/>
          <small>更新户型信息</small>
        <else/>
          <small>增加户型</small>
        </if>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>

        <if condition="$step eq 'add'">
          <li class="active">增加户型</li>
          <elseif condition="$step eq 'edit'" />
          <li class="active">更新户型信息</li>
          <else/>
          <li class="active">增加户型</li>
        </if>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="content-body">

        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">户型信息</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>请选择社区</label>
                  <select id="choice_community" class="form-control select2">
                    <option></option>
                    <volist name='communities' id='vo'>
                      <option value="{$vo.community_id}">{$vo.community_name}</option>
                    </volist>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>户型名称</label>
                  <input id="floorplan_name" type="text" class="form-control" placeholder="请输入户型名称 ...">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <p class="text-center">
                    <span id="create_floorplan" class="btn btn-default fileinput-button">
                      <span>添加户型</span>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.container -->
</div>
<script>
  /*jslint unparam: true, regexp: true */


  $(function() {
    // init select2
    $('#choice_community').select2().on('change', function(e) {
      if ($(this).val() != 0) {
        $('.select2').parent().removeClass('has-error');
      }
    });

    $('#floorplan_name').change(function(e) {
      if ($(this).val().length != 0) {
        $('#floorplan_name').parent().removeClass('has-error');
      }
    });

    $('#create_floorplan').click(function() {
      var com_id = $('#choice_community').val();
      var plan_name = $('#floorplan_name').val();
      if (com_id == 0) {
        $('.select2').parent().addClass('has-error');
        return;
      }
      if (plan_name.length == 0) {
        $('#floorplan_name').parent().addClass('has-error');
        return;
      }

      // TODO create floorplan by api, and jump to upload file after response success
      $.post('/public/index.php/zeus/ActionFloorplan/add', {
        'community_id': com_id,
        'floorplan_name': plan_name
      }, function(data, status, jqXHR) {
        if (status == 'success') {
          var data_json = eval('(' + data + ')');
          if (data_json.Rescode == 10000) {
            console.log(data);
            console.log(status);
            alert('添加成功，请点击确认上传部署文件，否则户型将无法正常使用');
            window.location.href = './upload' + '?floorplan_id=' + data_json.Data + '&step=add';
            // TODO jump to upload file ui
            return;
          } else if (data_json.Rescode == 10017) {
            alert('添加失败，缺少参数。');
            return;
          } else if (data_json.Rescode == 10019) {
            alert('添加失败，该社区下已存在此户型。');
            return;
          } else if (data_json.Rescode == 20023) {
            alert('添加失败，无添加户型权限。');
            return;
          } else {
            alert('添加失败，错误代码：' + data_json.Rescode);
            return;
          }
        }
        console.log(data);
        console.log(status);
        alert('添加失败');
      })
    });
    return;

    /// TODO move to other code file
    var self = this;
    new STSToken(function(ststoken) {
      console.log(ststoken);
      self.ststoken = ststoken;
      self.oss = new VlintechOss(self.ststoken);
    });

    // init community select2 style
    // TODO choice community selector change process
    var com_select2 = $("#choice_community").select2().on('change', function(e) {
      console.log($(this).val());
      $('#ccu-upload-method').val(1).trigger("change");
      $('#ccu-choice').empty().trigger("change");
    });

    // init ccu program upload method select2 style
    // TODO ccu program upload method choice selector change process
    var ccu_select2 = $("#ccu-upload-method").select2().on('change', function(e) {
      // var temp = this;
      console.log($(this).val());
      if ($(this).val() == 1) {
        console.log('select upload new file');
        $('#ccu-program-choice').addClass('hide');
        $('#ccu-program-upload').removeClass('hide');
      } else if ($(ccu_select2).val() == 2) {
        console.log('select choice old file at oss');
        $('#ccu-program-upload').addClass('hide');
        $('#ccu-program-choice').removeClass('hide');
        if (com_select2.val() == '') {
          // TODO 修改为弹条提示
          alert('请先选择社区');
          $(this).val(1).trigger("change");
        } else {
          self.oss.ListCCUProgram($("#choice_community").val(), function(result) {
            console.log(result);
            $('#ccu-choice').empty().trigger("change");
            if (!result || result.length == 0) {
              alert('该社区此前并未上传程序');
              $('#ccu-upload-method').val(1).trigger("change");
            } else {
              for (var i = 0; i < result.length; i++) {
                $('#ccu-choice').append(new Option(result[i])).trigger("change");
              }
            }
          });
        }
      } else {
        // TODO
      }
    });

    // $('#ccu-upload-method').on('change',function(e){
    //   // console.log($(this).text());
    //   if ($(this).val() == 1) {
    //   } else {
    //     // console.log('community select: ' + $("#choice_community").val());
    //     if ($("#choice_community").val() == '') {
    //       console.log('请先选择社区');
    //       // $(this).val('1');
    //       // $(this).attr('selected', true);
    //       console.log($('#ccu-upload-method').find("option[value=1]"));
    //       $('#ccu-upload-method').find("option[value=1]").attr("selected",true);
    //     }
    //   }
    // });

    // TODO pack down button click process
    $(".btn-up").click(function() {
      $(this).addClass('hide');
      $(this).next().removeClass('hide');
    });

    // TODO pack down button click process
    $(".btn-down").click(function() {
      $(this).addClass('hide');
      $(this).prev().removeClass('hide');
    });

    // choice file button click process
    $(".btn-file").click(function() {
      $(this).next().click();
    });

    // input change file process
    $('.input-file').change(function(e) {
      $(this).parent().next().text($(this).get(0).files[0].name);
      $(this).parent().next().next().text(FormatSize($(this).get(0).files[0].size));
      $(this).parent().next().next().next().find('div.progress').removeClass('hide');
    });

    // $("#ccu-program").change(function() {
    //   console.log(this);
    //   update_filename_label(this.files[0], $(this).next());
    // });
    //
    // $("#app-config").change(function() {
    //   update_filename_label(this.files[0], $(this).next());
    // });

    $("#submit").click(function() {
      var ccu_program = document.getElementById('ccu-program').files[0];
      var ccu_config = document.getElementById('ccu-config').files[0];
      var app_config = document.getElementById('app-config').files[0];
      var wcu_program = document.getElementById('wcu-program').files[0];
      var vcu_program = document.getElementById('vcu-program').files[0];
      ccu_program ? console.log(ccu_program.name) : console.log('ccu program have not update...');
      ccu_config ? console.log(ccu_config.name) : console.log('ccu config have not update...');
      app_config ? console.log(app_config.name) : console.log('app config have not update...');
      wcu_program ? console.log(wcu_program.name) : console.log('wcu program have not update...');
      vcu_program ? console.log(vcu_program.name) : console.log('vcu program have not update...');
    });
  });
</script>
