
            <if condition="$step eq 'update'">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="col-md-3" style="line-height:34px; padding-left:0;">
                      <label>程序列表</label>
                      <span class="btn btn-success pull-right btn-up hide" style="margin-left:30px;">
                        <span>放下<i class="fa fa-level-down"></i></span>
                      </span>
                      <span class="btn btn-default pull-right btn-down">
                        <span>收起<i class="fa fa-level-up"></i></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.row -->

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="table-responsive">
                      <table class="table table-hover" id="user-tab">
                        <thead>
                          <tr>
                            <th>版本号</th>
                            <th>平台</th>
                            <th>CCU程序编号</th>
                            <th>APP配置编号</th>
                            <th>CCU配置编号</th>
                            <th>WCU程序编号</th>
                            <th>VCU程序编号</th>
                            <th>版本类型</th>
                            <th>删除</th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.form-group -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </if>
